body {
    background-color: rgb(85, 141, 226);
font-family: Arial, Helvetica, sans-serif
}




.jumbotron {
    background-image: url("https://icon2.kisspng.com/20181119/bvj/kisspng-train-rail-transport-clip-art-vector-graphics-port-15-transparent-train-modern-for-free-download-on-m-5bf2bf6fc80221.2397089915426353758192.jpg") ! important;
    color: black;
    font: bold;
    /* padding: 20px;
    padding-bottom: 30px; */
}




.panel {
    width: 100%;
}

tbody {
    padding: 50px;
}